<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h4>
          L J Interiors is an interior design studio that focus on retail and commercial interior design.
        </h4>
        
        <p>
          We follow ‘Design Practise’ methodology to ensure the most effective design are delivered on every project we do. Unlike the big design firm, we are flexible and agile and can adapt our teams and resources to best suit your project and budgets and to move quickly.
        </p>
        
        <p>
          At LJ Interiors, we achieve the best results when our most creative thinking are directly engaged with you. By seeing your vision, and knowing that of your customers, we’ll create something unique that sets you apart. We push ourselves as far as we can go, design to the best of our ability and avoid the easy option (unless the easy option is the right option).
        </p>
        
        <p>
          Our senior creative and strategic team is based right here in Sydney, Australia.
        </p>
        
        <p>
          The work shown in this site represents the projects experience we have done.
        </p>
    </div>
    <div class="col-md-3"></div>  
  </div>
</div>