<div id="rendering" class="container-fluid">
  <div class="row">
      <div class="col-sm-3 col-md-3">
        <app-col-item *ngFor="let artWork of artWorksCol[0]" [artWork]="artWork"></app-col-item>
      </div>
      <div class="col-sm-3 col-md-3">
        <app-col-item *ngFor="let artWork of artWorksCol[1]" [artWork]="artWork"></app-col-item>
      </div>
      <div class="col-sm-3 col-md-3">
        <app-col-item *ngFor="let artWork of artWorksCol[2]" [artWork]="artWork"></app-col-item>
      </div>
      <div class="col-sm-3 col-md-3">
        <app-col-item *ngFor="let artWork of artWorksCol[3]" [artWork]="artWork"></app-col-item>
      </div>
  </div>  
</div>