/* You can add global styles to this file, and also import other style files */
body {
    background-color: #DEEAEE;
}
.col-md-3 {
    padding-right: 1px;
    padding-left: 1px;
}
.container-fluid {
    margin-left: 5px;
    margin-right: 5px;
}